section.cta{
    background-image: url('images/banner_meio.svg');
    background-size: cover;
    background-position: center;
    padding:20px 10px;
    min-height: 200px;
    color:white;
    text-align: center;
}

section.cta h2,
section.cta h4{
    font-weight: normal;
    margin:10px 0;
}

section.cta h2{
    font-size: 40px;
}

section.cta a{
    display: inline-block;
    padding:8px 15px;
    border-radius:7px;
    font-weight: bold;
    font-size: 17px;
    background: #FFDD33;
    text-decoration: none;
    color: #0F3FD3;
}

section.beneficios{
    padding:50px 0;
}

.lista-beneficios{
    width:40%;
    margin-top:30px;
}

.lista-beneficios h1{
    color:black;
    font-size: 40px;
}

.lista-beneficios p{
    color: #7E92AC;
   vertical-align: middle;
   font-size: 14px;
}

.lista-beneficios span{
    display: inline-block;
    width: calc(100% - 70px);
}

.lista-beneficios img{
    display: inline-block;
    vertical-align: middle;
    width:70px;
}
.img-beneficios{
    width: 60%;
}

.img-beneficios img{max-width: 100%;}


@media screen and (max-width: 768px) {
    .lista-beneficios,.img-beneficios{
        width:100%;
        margin-bottom: 30px;
    }
}